.container {
  text-align: center;
  padding-top: 50px;
  max-width: 300px;
}

input {
  border: 1px solid;
  padding: 3px 2px;
  font-size: 12px;
  outline: none;
  margin-bottom: 20px;
}


ul {
  margin-left: 20px;
  text-align: left;
}

li{
  list-style: none;
}