<!doctype html>
<html>
	<head>
	    <meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">

		<title>Muni Predictions</title>

		<!-- Bootstrap -->
		<link href="{{ url_for('static', filename='bower_components/bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet">

		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
		<link rel="stylesheet" href="https://code.getmdl.io/1.2.0/material.indigo-pink.min.css">
		
	    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
	</head>
	<body>
		<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header mdl-layout--fixed-tabs">
		  <header class="mdl-layout__header">
		    <div class="mdl-layout__header-row">
		      <!-- Title -->
		      <span class="mdl-layout-title">Nextbus</span>
		    </div>
		    <!-- Tabs -->
		    <div class="mdl-layout__tab-bar mdl-js-ripple-effect">
		      <a href="#fixed-tab-1" class="mdl-layout__tab is-active">Tab 1</a>
		      <a href="#fixed-tab-2" class="mdl-layout__tab">Tab 2</a>
		      <a href="#fixed-tab-3" class="mdl-layout__tab">Tab 3</a>
		    </div>
		  </header>
		  <div class="mdl-layout__drawer">
		    <span class="mdl-layout-title">Title</span>
		  </div>
		  <main class="mdl-layout__content">
		    <section class="mdl-layout__tab-panel is-active" id="fixed-tab-1">
		      <div class="page-content">
		      	<div id="stop_list"></div>
		      </div>
		    </section>
		    <section class="mdl-layout__tab-panel" id="fixed-tab-2">
		      <div class="page-content">
		      	<div id="map"></div>
		      </div>
		    </section>
		    <section class="mdl-layout__tab-panel" id="fixed-tab-3">
		      <div class="page-content"><!-- Your content goes here --></div>
		    </section>
		  </main>
		</div>
		
		<!-- React -->
		<script src="{{ url_for('static', filename='bower_components/react/react.min.js') }}"></script>
		<script src="{{ url_for('static', filename='bower_components/react/react-dom.min.js') }}"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/react/0.13.3/JSXTransformer.js"></script>
		
	    <script src="{{ url_for('static', filename='jsx/filterPredictions.js') }}" type="text/jsx"></script>
	    <script type="text/jsx">    	
			var stops = {{ stops_json|tojson|safe }};
			filterStops(stops)
		</script>
		
		<!-- Google Maps API -->
		<script src="{{ url_for('static', filename='js/initMap.js') }}"></script>
		<script async defer 
		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBeKICoA0hLYCYLD-DiMqjnGXIYGZes0oY&callback=initMap">
	    </script>

	    <!-- jQuery -->
    	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    	<script defer src="https://code.getmdl.io/1.2.0/material.min.js"></script>
	    <script src="{{ url_for('static', filename='bower_components/bootstrap/dist/js/bootstrap.min.js') }}"></script>
	</body>
</html>
